/* src/components/form/JobApplicationForm.css */

.job-form {
  @apply flex flex-col space-y-4;
}

.job-form-title {
  @apply text-xl font-semibold mb-2;
  color: var(--color-dark);
}

.file-upload {
  @apply flex flex-col space-y-2;
  color: var(--color-dark);
}

.file-label {
  @apply text-sm font-medium;
  color: var(--color-dark);
}

.file-input {
  @apply block w-full text-sm bg-white rounded-md cursor-pointer focus:outline-none;
  color: var(--color-dark);
  border: 1px solid var(--color-secondary);
  padding: 0.5rem;
}

.file-name {
  @apply text-sm;
  color: var(--color-dark);
}
