/* src/components/widgets/NewsCard.css */

.news-card {
  @apply items-stretch flex flex-col sm:flex-row  w-full max-w-md rounded-lg;
  background-color: white;
  text-decoration: none;
}

.news-card-image {
  @apply w-full sm:w-52 sm:h-52 flex-shrink-0 rounded-lg overflow-hidden;
}

.news-card-image img {
  @apply w-full h-full object-cover;
  display: block;
}

.news-card-content {
  @apply flex flex-col py-5 sm:py-0 sm:px-5 justify-between;
}

.news-card-title {
  @apply text-lg font-semibold;
  color: black;
}

.news-card-description {
  @apply text-sm mb-2;
  color: #4b5563;
}

.news-card-meta {
  @apply flex gap-2 justify-between items-center text-xs;
  color: #6b7280;
}

.news-card-date {
  @apply text-xs whitespace-nowrap;
  color: var(--color-secondary);
}

.news-card-source {
  @apply text-sm py-0.5 px-2;
  background-color: var(--color-secondary);
  color: white;
}

.news-card-actions {
  @apply mt-3;
}
