/* src/components/ui/Button.css */

.btn {
  @apply inline-block px-6 py-3 text-sm font-semibold rounded-[15px] transition-colors duration-200;
}

.btn.primary {
  border: 2px solid transparent;
  background-color: var(--color-primary);
  color: white;
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}
.btn.primary:hover {
  background-color: white;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn.secondary {
  background-color: transparent;
  color: var(--color-primary);
  border: none;
  padding-left: 0;
}
.btn.secondary:hover {
  background-color: transparent;
  color: var(--color-secondary);
  border: none;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
